<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTTP Request Override</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../assets/css/style.css" />
</head>
<body>
    <header>
        <div class="header__title">
            <h1>HTTP Request <b>Override</b></h1>
        </div>
        <div class="header__settings">
            <a href="#" class="btn" id="btn__addRules">Add Rule 
                <img class="icon-16px" src="../assets/img/plus.svg" alt="Add rule">
            </a>
            <label for="switchActiveExtension">
                Watch requests
                <input id="switchActiveExtension" type="checkbox"><label for="switchActiveExtension">Toggle</label>
            </label>
        </div>
    </header>

    <main>
        <p>Click on Add Rule to add a rule.</p>
    </main>
    
    <script src="../services/store.js"></script>
    <script src="../services/messenger.js"></script>
    <script src="../services/createElement.js"></script>
    <script src="../services/ruleRowCreator.js"></script>
    <script src="../services/ui.js"></script>
    <script src="../services/app.js"></script>
    <script src="browseraction.js"></script>
</body>
</html>